* {
  font-family: 'Roboto', sans-serif !important;
}

/* src/App.css */
.layout {
  background: #000000;
  min-height: 100vh;
}

.site-layout-content {
  padding: 12px;
}

.ant-tabs-tab-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ant-card .ant-card-body {
  padding: 12px;
}

.ant-tabs-tab .anticon {
  font-size: 24px; /* Размер иконки */
  margin-right: 0!important;
}

.ant-tabs-tab.ant-tabs-tab-active > div > div {
  color: #fff;
}

.ant-tabs-tab.ant-tabs-tab-active::before {
  content: '';
  position: absolute;
  top: 8px;
  left: -10%;
  z-index: -1;
  background-color: rgb(22, 24, 30);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 120%;
  height: 60px;
  animation-name: appearance;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

@keyframes appearance {
  0% {
    background-color: rgba(22, 24, 30, .0);
  }
  
  100% {
    background-color: rgba(22, 24, 30, .99);
  }
}

.ant-tabs-tab.ant-tabs-tab-active > div > div > svg > path {
  fill: #E25319 !important;
}

.ant-tabs-tab .ant-tabs-tab-btn > div {
  color: #5A5A5A;
  margin-top: 4px; /* Расстояние между иконкой и текстом */
}

.ant-tabs-nav-wrap {
  justify-content: space-around;
}

.ant-tabs .ant-tabs-tab+.ant-tabs-tab {
  margin: 0 0 0 12px;
}

.largeText {
  font-weight: 600;
  font-size: 16px;
  color: #fff;
}

/* LevelsTable */
.highlight-row {
  background-color: #ffe58f !important; /* Светло-желтый фон */
}

/* UserLevel.css */
.user-level {
  display: flex;
  flex-direction: column;
  gap: 8px; /* Расстояние между строками */
}

.level-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.level-name {
  font-weight: bold;
  color: white;
  font-size: 10px;
  cursor: pointer;
}

.level-info {
  color: rgba(255, 255, 255, 0.50); /* Цвет для текста уровня */
  font-size: 10px;
}

.level-counter {
  color: white;
}

.level-progress {
  width: 100%;
}
.level-progress > div {
  border-radius: 8px;
  border: 1px rgba(85, 85, 85, 0.75) solid;
}

/* BalanceComponent.css */
.balance-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #32363C; /* Темно-серый фон для контейнера, чтобы выделяться на черном фоне */
  border-radius: 30px;
  border: 1px solid #333333; /* Цвет границы для лучшего контраста */
  padding: 4px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Немного более выраженная тень */
  width: 100%;
  max-width: 600px;
}

.balance-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  color: white;
}

.balance-title {
  font-size: 10px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.50); /* Белый цвет для текста заголовка */
}

.balance-amount {
  display: flex;
  justify-content: space-between;
}

.currency {
  display: flex;
  align-items: center;
}

.currency-icon {
  font-size: 20px;
  margin-right: 4px;
  display: flex;
  align-items: center;
  color: #ffffff; /* Белый цвет для иконок */
}

.currency-value {
  font-size: 14px;
  font-weight: 600;
  color: #ffffff; /* Белый цвет для значений */
}

.balance-actions {
  display: flex;
  align-items: center;
}

.info-button {
  font-size: 24px;
  color: #ffffff;
}

.info-button:focus {
  outline: none;
}

.divider {
  height: 30px;
  border: 1px rgba(255, 255, 255, 0.3) solid;
  margin: 0 12px;
}

.info-modal .ant-modal-header {
  background-color: #333333; /* Цвет фона заголовка модалки */
}

.info-modal .ant-modal-body {
  color: #ffffff; /* Белый цвет для текста модалки */
  background-color: #1a1a1a; /* Цвет фона модалки */
}

.info-modal .ant-modal-footer {
  background-color: #333333; /* Цвет фона нижней части модалки */
}


/** MainTask */
.custom-card {
  background-color: black; /* Черный фон для компонента */
  border-top-left-radius: 50px; /* Скругленные углы */
  border-top-right-radius: 50px; /* Скругленные углы */
  padding: 20px;
  padding-top: 60px;
  box-shadow: 0 -15px 20px rgba(0, 128, 0, 0.8); /* Зеленая тень сверху */
  text-align: center; /* Центрирование контента */
  width: 100%; /* Ширина 100% */
  border: none;
}

/* Обертка для полной ширины */
.full-width-container {
  width: 100vw; /* 100% ширины окна просмотра */
  margin: 18px -28px 0 -28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.outer_Circle {
  background: linear-gradient(181deg, #D6FFC7 1.2%, #154403 65.02%);
  width: 325px;
  height: 325px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  background: radial-gradient(circle at 35% 35%, rgba(192, 254, 199, 0.9), #408a22 70%, #2E8B57); /* Внутренний градиент с бликом */
  border-radius: 50%;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-image {
  width: 60%; /* Размер изображения внутри круга */
  height: auto;
}

.mainTask_title {
  color: white !important; /* Цвет заголовка */
  font-weight: 600;
  margin-top: 10px;
}

.description {
  color: gray; /* Цвет описания */
}


/* RulesPage.css */
.rules-page-container {
  background-color: #000; /* Черный фон для всей страницы */
  color: #fff; /* Белый текст */
}

.rules-title {
  text-align: center;
  color: #fff !important; /* Белый цвет заголовка */
}

.rules-description {
  text-align: center;
  margin-bottom: 32px;
  color: #ccc; /* Светло-серый цвет описания */
}

.tiles-container {
  display: flex;
  flex-direction: column;
}

.rule-tile {
  background-color: #333; /* Темно-серый фон для плиток */
  border-radius: 10px;
  padding: 10px 14px;
  text-align: center;
  display: flex;
  min-width: 100%;
  align-items: center;
  margin-top: 10px;
}


.tile-icon {
  font-size: 36px;
  color: #ffcc00; /* Желтый цвет для иконки молнии */
}

.tile-text {
  color: #fff; /* Белый цвет для текста */
  font-weight: 500;
  font-size: 20px;
  padding: 0 14px;
}

.tile-description {
  font-size: 12px;
  padding-left: 10px;
  border-left: 2px rgba(255, 255, 255, 0.20) solid;
}

.lifehack {
  border-radius: 10px;
  margin-top: 24px;
  color: #000;
  background: #FFB775;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.lifehack-title {
  font-weight: 700;
  padding-top: 10px;
}

.lifehack-description {
  text-align: center;
  padding: 8px 0;
}

.lifehack_amount {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
}

.lifehack_amount_main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lifehack-icon {
  font-size: 30px;
}

.lifehack_amount_icon {
  min-height: 40px !important;
  min-width: 40px !important;
}

.lifehack_amount_description {
  font-size: 12px;
  padding-top: 12px;
}

.lifehack_amount_ps {
  color: #919295;
  font-size: 12px;
  padding-top: 14px;
}



/* ReferralPage.css */
.referral-page-container {
  background-color: #000; /* Черный фон для всей страницы */
  color: #fff; /* Белый текст */
}

.prize {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.prize-title {
  font-weight: 500;
  font-size: 20px;
  padding-top: 12px;
}

.prize-text {
  text-align: left;
  font-size: 13px;
}

.prize-description {
  display: flex;
  padding-top: 18px;
}
