@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  font-family: 'Roboto', sans-serif !important;
}

/* src/App.css */
.layout {
  background: #000000;
  min-height: 100vh;
}

.site-layout-content {
  padding: 12px;
}

.ant-tabs-nav-list {
  width: 100%;
  justify-content: space-around;
}

.ant-tabs-tab-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 999;
}

.ant-card .ant-card-body {
  padding: 12px;
}

.ant-tabs-tab .anticon {
  font-size: 24px; /* Размер иконки */
  margin-right: 0!important;
}

.ant-tabs-tab.ant-tabs-tab-active > div > div {
  color: #fff;
}

.ant-tabs-tab.ant-tabs-tab-active::before {
  content: '';
  position: absolute;
  top: 8px;
  left: -10%;
  z-index: -1;
  background-color: rgb(22, 24, 30);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 120%;
  height: 60px;
  animation-name: appearance;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

@keyframes appearance {
  0% {
    background-color: rgba(22, 24, 30, .0);
  }
  
  100% {
    background-color: rgba(22, 24, 30, .99);
  }
}

.ant-tabs-tab.ant-tabs-tab-active > div > div > svg > path {
  fill: #E25319 !important;
}

.ant-tabs-tab .ant-tabs-tab-btn > div {
  color: #5A5A5A;
  margin-top: 4px; /* Расстояние между иконкой и текстом */
}

.ant-tabs-nav-wrap {
  justify-content: space-around;
}

.ant-tabs-nav {
  margin: 0 !important;
}
.ant-tabs-nav::before {
  display: none;
}

.ant-tabs-ink-bar {
  display: none;
}

.ant-tabs .ant-tabs-tab {
  padding-bottom: 2px;
}

.ant-tabs .ant-tabs-tab+.ant-tabs-tab {
  margin: 0 0 0 6px;
}

.largeText {
  font-weight: 600;
  font-size: 16px;
  color: #fff;
}

/* LevelsTable */
.highlight-row {
  background-color: #ffe58f !important; /* Светло-желтый фон */
}

/* UserLevel.css */
.user-level {
  display: flex;
  flex-direction: column;
  gap: 8px; /* Расстояние между строками */
}

.level-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.level-name {
  font-weight: bold;
  color: white;
  font-size: 10px;
  cursor: pointer;
}

.level-info {
  color: rgba(255, 255, 255, 0.50); /* Цвет для текста уровня */
  font-size: 10px;
}

.level-counter {
  color: white;
}

.level-progress {
  width: 100%;
}
.level-progress > div {
  border-radius: 8px;
  border: 1px rgba(85, 85, 85, 0.75) solid;
}

/* BalanceComponent.css */
.balance-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #32363C; /* Темно-серый фон для контейнера, чтобы выделяться на черном фоне */
  border-radius: 30px;
  border: 1px solid #333333; /* Цвет границы для лучшего контраста */
  padding: 4px 14px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Немного более выраженная тень */
  width: 100%;
  max-width: 600px;
}

.balance-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  color: white;
}

.balance-title {
  font-size: 8px;
  line-height: 8px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.50); /* Белый цвет для текста заголовка */
}

.balance-amount {
  display: flex;
  justify-content: space-between;
}

.currency {
  display: flex;
  align-items: center;
}

.currency-icon {
  font-size: 20px;
  display: flex;
  align-items: center;
  width: 32px;
  height: 32px;
}

.currency-value {
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  padding-top: 6px;
}

.balance-actions {
  display: flex;
  align-items: center;
}

.info-button {
  font-size: 24px;
  color: #ffffff;
}

.info-button:focus {
  outline: none;
}

.divider {
  height: 38px;
  border: 1px rgba(255, 255, 255, 0.3) solid;
  margin: 0 8px 0 12px;
}

.info-modal .ant-modal-header {
  background-color: #333333; /* Цвет фона заголовка модалки */
}

.info-modal .ant-modal-body {
  color: #ffffff; /* Белый цвет для текста модалки */
  background-color: #1a1a1a; /* Цвет фона модалки */
}

.info-modal .ant-modal-footer {
  background-color: #333333; /* Цвет фона нижней части модалки */
}


/** MainTask */
.custom-card {
  background-color: black; /* Черный фон для компонента */
  border-top-left-radius: 50px; /* Скругленные углы */
  border-top-right-radius: 50px; /* Скругленные углы */
  padding: 20px;
  padding-top: 60px;
  box-shadow: 0 -15px 20px var(--color-1); /* Зеленая тень сверху */
  text-align: center; /* Центрирование контента */
  width: 100%; /* Ширина 100% */
  height: 100%;
  border: none;
}

/* Обертка для полной ширины */
.full-width-container {
  width: 100vw; /* 100% ширины окна просмотра */
  margin: 18px -28px 0 -28px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  position: relative;
}

.expanded {
  transform: translateY(-150px);
  height: 100vh;
}

.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.outer_Circle {
  background: radial-gradient(circle at 50% -10%, #a6a4a4, var(--color-1) 40%, var(--color-2) 60%);
  width: 325px;
  height: 325px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  background: radial-gradient(circle at 50% 42%, #a6a4a4, var(--color-1) 40%, var(--color-2) 60%);
  border-radius: 50%;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-image {
  width: 60%; /* Размер изображения внутри круга */
  height: auto;
}

.mainTask_title {
  color: white !important; /* Цвет заголовка */
  font-weight: 600;
  margin-top: 10px;
}

.description {
  color: gray; /* Цвет описания */
}


/* RulesPage.css */
.rules-page-container {
  background-color: #000; /* Черный фон для всей страницы */
  color: #fff; /* Белый текст */
}

.rules-title {
  text-align: center;
  color: #fff !important; /* Белый цвет заголовка */
}

.rules-description {
  text-align: center;
  margin-bottom: 32px;
  color: #ccc; /* Светло-серый цвет описания */
}

.tiles-container {
  display: flex;
  flex-direction: column;
}

.rule-tile {
  background-color: #333; /* Темно-серый фон для плиток */
  border-radius: 10px;
  padding: 10px 14px;
  text-align: center;
  display: flex;
  min-width: 100%;
  align-items: center;
  margin-top: 10px;
}


.tile-icon {
  font-size: 36px;
  color: #ffcc00; /* Желтый цвет для иконки молнии */
}

.tile-text {
  color: #fff; /* Белый цвет для текста */
  font-weight: 500;
  font-size: 20px;
  padding: 0 14px;
}

.tile-description {
  font-size: 12px;
  padding-left: 10px;
  border-left: 2px rgba(255, 255, 255, 0.20) solid;
}

.lifehack {
  border-radius: 10px;
  margin-top: 24px;
  color: #000;
  background: #FFB775;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.lifehack-title {
  font-weight: 700;
  padding-top: 10px;
}

.lifehack-description {
  text-align: center;
  padding: 8px 0;
}

.lifehack_amount {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-top: 0;
}

.lifehack_amount_main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lifehack-icon {
  font-size: 30px;
}

.lifehack_amount_icon {
  min-height: 40px !important;
  min-width: 40px !important;
}

.lifehack_amount_description {
  font-size: 12px;
  padding-top: 12px;
}

.lifehack_amount_ps {
  color: #919295;
  font-size: 12px;
  padding-top: 14px;
}



/* ReferralPage.css */
.referral-page-container {
  background-color: #000; /* Черный фон для всей страницы */
  color: #fff; /* Белый текст */
}

.prize {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px 14px;
}

.prize-title {
  font-weight: 500;
  font-size: 20px;
  padding-top: 12px;
}

.prize-text {
  text-align: left;
  font-size: 13px;
}

.prize-description {
  display: flex;
  padding-top: 18px;
}

.referralButton {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-top: 20px;
}

.referralListItem {
  display: flex;
  width: 100%;
  padding-top: 6px;
  justify-content: space-between;
  border-bottom: 1px rgba(255, 255, 255, 0.20) solid;
}

.referralListItem:last-child {
  border-bottom: none;
}

.referralList {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.revenue-description {
  font-size: 12px;
  text-align: center;
  color: #fff;
  font-weight: 500;
  padding: 0 50px;
}

.resetInputStyles {
  border: none;
  background-color: transparent !important;
  color: #fff;
}

.resetInputStyles::placeholder {
  color: rgba(255, 255, 255, .5);
  text-align: center;
}

.resetInputStyles:focus {
  box-shadow: none;
}

.revenueMainButton {
  border-radius: 10px;
  background: #8AFF43 !important;
  color: #000 !important;
  font-weight: 500;
  font-size: 16px;
  width: 100%;
  padding: 30px;
}

.custom-checkbox .ant-checkbox-inner {
  background-color: #D9D9D9;
  width: 30px;
  height: 30px;
}

.custom-checkbox .ant-checkbox-inner::after {
  font-size: 20px; /* Увеличиваем размер иконки */
  height: 20px;
}

.invalid-checkbox .ant-checkbox-inner {
  border: 3px red solid;
}

.BalanceInfo_currency-icon {
  width: 67px;
  height: 67px;
  padding-bottom: 8px;
}

.BalanceInfo_currency-value {
  font-weight: 600;
  font-size: 26px;
}

.BalanceInfo_balance-description {
  font-size: 12px;
  font-weight: 300;
  color: #fff;
  text-align: center;
}
/* CustomModal.css */

/* Стиль для модального окна */
.custom-modal .ant-modal-content {
  background-color: #000; /* Черный фон */
  color: #fff; /* Белый текст */
  border-radius: 10px;
}

/* Контейнер для изображения с фиксированной высотой и шириной */
.image-container {
  width: 100%;
  height: 200px; /* Задаем фиксированную высоту для контейнера */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Место под изображение до загрузки (плейсхолдер) */
.placeholder {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #444; /* Темный фон для плейсхолдера */
  border-radius: 10px;
}

/* Скрываем изображение до тех пор, пока оно не загрузится */
.modal-image.hidden {
  display: none;
}

/* Изображение после загрузки */
.modal-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Подгоняем изображение под контейнер */
  border-radius: 10px;
}


/* Текстовые блоки */
.modal-text-block {
  margin-bottom: 20px;
}

.modal-text-block p {
  color: #fff; /* Белый текст */
  margin: 10px 0;
  font-size: 12px;
  font-weight: 300;
}

/* Блок с кнопками */
.modal-buttons {
  display: flex;
  flex-direction: column; /* Кнопки в колонку */
  gap: 10px; /* Отступ между кнопками */
}

.taskModal_button {
  border: none;
  font-size: 16px;
  font-weight: 500;
  height: 70px;
}

/* Стили для кнопок */
.link-button {
  background-color: #417B1E; /* Зеленая кнопка */
  height: 52px;
  color: #fff;
}

.upload-button {
  background-color: #8AFF43; /* Светло-зеленая кнопка */
  color: #000;
}

.skip-button {
  background-color: #32363C; /* Серая кнопка */
  color: #84CB69;
}

/* FullScreenImage.css */

/* Стиль для маленького изображения */
.thumbnail {
  width: 200px;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s;
}

.thumbnail:hover {
  transform: scale(1.05); /* Увеличение изображения при наведении */
}

/* Модальное окно на весь экран */
.fullscreen-modal .ant-modal-content {
  background-color: transparent;
  box-shadow: none;
}

.fullscreen-modal .ant-modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

/* Полноэкранное изображение */
.fullscreen-image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.gradient-circle {
  position: absolute;
  top: 40px;
  left: 37px;
  overflow: visible;
  width: 240px;
  height: 240px;
  display: inline-block;
  border-radius: 50%; /* Делаем форму круга */
  /* background: radial-gradient(circle, rgba(255, 255, 255, 0.6) 20%, rgba(0, 0, 0, 0) 70%); Радиальный градиент от центра */
  background: linear-gradient(180deg, var(--color-1) 0%, var(--color-2) 98%);
  filter: blur(30px); /* Применяем размытие для плавного эффекта */
  z-index: 0;
}

/* .slick-list { */
  /* overflow: hidden !important; */
  /* overflow: visible !important; */
/* } */

.carousel-image {
  width: 60% !important;
  padding-top: 80px;
  padding-bottom: 40px;
  z-index: 1;
}
.carousel-content-wrapper {
  display: flex !important;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: visible;
  padding-bottom: 20px;
}
.test_tmp {
  /* content: ''; */
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  /* width: 300px; Ширина круга */
  /* height: 300px; Высота круга */
  /* transform: translate(-50%, -50%); Центрирование псевдоэлемента */
  /* border-radius: 50%; */
  background: linear-gradient(180deg, #BB1B15 0%, #800601 98%);
  /* background: radial-gradient(circle, rgba(255, 255, 255, 0.6) 20%, rgba(0, 0, 0, 0) 70%); Радиальный градиент от центра */
  filter: blur(30px); /* Применяем размытие для плавного эффекта */
}

.level-info-text {
  justify-content: center;
  color: #EF807B;
}

.levelSlider {
  background: #2A2A2A;
  color: #5B5B5B;
}

.levelSlider_selectedLevel {
  background: #8FB676;
}

.slick-arrow {
  height: 0px !important;
}

.slider-container {
  position: relative;
  margin: 0 auto;
  text-align: center;
}
.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  border: none;
  background-color: inherit;
  color: white;
  cursor: pointer;
}

.slider-button:focus {
  outline: none;
}

.slider-button.left {
  left: 10px;
}

.slider-button.right {
  right: 10px;
}
/* Скрываем встроенные стрелки компонента Carousel */
.ant-carousel .slick-prev,
.ant-carousel .slick-next {
  display: none !important;
}

.promotion-description {
  font-size: 12px;
  color: #fff;
  font-weight: 500;
  text-align: center;
  margin-bottom: 0 !important;
}

.promotion-tile-description {
  font-size: 12px;
  font-weight: 300;
  text-align: left;
}

.promotion-tile-icon {
  font-size: 38px;
  min-width: 100px;
}

.promotion-title {
  text-align: center;
  margin-top: 32px;
  font-size: 16px;
  font-weight: 500;
}

.promotion-available-button {
  height: 70px;
  background: #8AFF43;
  display: flex;
  justify-content: center;
  color: #000;
}

.promotion-available-description {
  color: #8AFF43;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  margin-top: 15px;
}

.pay-promotion-title {
  font-size: 16px;
  margin-top: 50px;
  font-weight: 500;
  text-align: center;
} 

.promote-card-info-list {
  position: relative;
  text-align: left;
  padding-left: 8px;
  font-size: 13px;
  font-weight: 300;
}

.promote-card-info-list::before {
  content: '';
  position: absolute;
  left: 0px;
  top: 9px;
  width: 3px;
  height: 3px;
  background: #fff;
  border-radius: 50%;
}

.promote-card-price-with-button {
  display: flex;
  flex-direction: column;
  margin-left: 18px;
  height: 100%;
  justify-content: end;
}

.promote-card-price-with-button > span {
  color: #BFFF98;
  font-size: 26px;
  font-weight: 600;
}

.promote-button {
  background: #fff;
  color: #000;
  width: 120px;
  height: 50px;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  justify-content: center;
}

.promote-card-bonus {
  display: flex;
  justify-content: space-between;
  color: #FFEA7C;
  padding-top: 12px;
  border-top: 1px rgba(255, 255, 255, 0.20) solid;
  margin-top: 16px;
}

.promote-card {
  display: flex;
}

/* DarkSegmented.css */

.dark-segmented {
  margin-top: 24px;

  /* Включаем темную тему с помощью CSS-переменных */
  --ant-segmented-bg: #32363C; /* Темный фон для сегментов */
  --ant-segmented-color: #ffffff; /* Белый цвет текста сегментов */
  --ant-segmented-thumb-bg: #000; /* Цвет фона активного сегмента */
  --ant-segmented-thumb-color: #000; /* Цвет текста активного сегмента */
  --ant-segmented-thumb-border-radius: 8px; /* Закругленные углы активного сегмента */
  --ant-segmented-thumb-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45); /* Тень для активного сегмента */
  --ant-segmented-item-color: #cccccc; /* Цвет текста неактивных сегментов */
  --ant-segmented-item-hover-bg: #333333; /* Фон сегмента при наведении */
}

.ant-segmented-item-selected {
  background-color: #16181E !important;
  color: #fff !important;
}
.ant-segmented-item {
  display: flex;
  align-items: center;
  border-radius: 10px !important;
  padding: 8px 0 !important;
  width: 33%;
}

.ant-segmented-thumb {
  background-color: #16181E !important;
}

.ant-segmented-item-label {
  white-space: wrap !important;
  color: #fff !important;
  line-height: 18px !important;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.custom-segmented {
  display: inline-flex;
  padding: 8px;
  border-radius: 8px;
  background-color: var(--ant-segmented-bg);
  color: var(--ant-segmented-color);
}

.promote-card-subTitle {
  font-size: 13px;
  font-weight: 300;
  text-align: left;
  margin-top: 4px;
}
